{% extends "admin/base_site.html" %}
{% load i18n  static  %}
{% load  client_pagination %}




{% block title %} {% trans 'title' %} {% endblock %}
{% block bannerTitle %}{% trans 'bannerTitle' %}{% endblock %}
{% block bannerDescription %}{% trans 'bannerDescription' %}{% endblock %}
{% block modelTableHead %}{% trans 'modelTableHead' %}{% endblock %}
{% block modelTableDescription %}{% trans 'modelTableDescription' %}{% endblock %}






{% block content %}














<div class="row">
    <div class="col-sm-6">
        <div class="form-group">



            <a href="/car/edit/" class="addlink">
                <button id="demo-btn-addrow" class=" btn-outline btn-primary btn-sm"><i class="icon wb-plus" aria-hidden="true"></i>


                    Add New
                </button>
            </a>


            <small>New row will be added in last page.</small> </div>
    </div>

    <div class="col-sm-6 text-right m-b-20">
        <div class="form-group">
            <form id="changelist-search" method="get">
                <input  name="name__iexact" id="demo-input-search2" type="text" placeholder="Search" class="form-control" value="{{ request.GET.name__iexact }}"  autocomplete="off" autofocus>
                {% for key, value in request.GET.items %}
                {% if key != 'name__iexact' %}<input type="hidden" name="{{ key }}" value="{{ value }}"/>{% endif %}
                {% endfor %}
            </form>
        </div>
    </div>


</div>




<table  id="result_list" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>

    <thead>
    <tr>
        <th scope="col" >{% trans 'name' %}</th>
        <th scope="col" >{% trans 'status' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for result in results %}
    <tr class=" row1">
        <td><a href="/car/edit/{{result.id}}">{{result.name}}</a></td>
        <td>{{result.status_text}}</td>

    </tr>
    {% endfor %}

    </tbody>
</table>


{% client_pagination paginator page %}


{% endblock %}
